<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="app-container">
        <h1 class="app-title">FAQ</h1>
        <div class="app-tabs">
          <div class="tab active">
            <input id="tab-one" type="checkbox" name="tabs" />
            <label for="tab-one">Сколько всего мест в доме?</label>
            <div class="tab-content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quos nemo corporis
                velit culpa veritatis asperiores deserunt, commodi ipsum at? Esse quibusdam
                dignissimos recusandae enim. Eaque expedita eum provident totam!
              </p>
            </div>
          </div>
          <div class="tab">
            <input id="tab-two" type="checkbox" name="tabs" />
            <label for="tab-two">Самая дорогая квартира?</label>
            <div class="tab-content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fuga deserunt
                aliquid voluptatum ad, molestiae dicta officiis animi eum mollitia, reiciendis a cum
                ratione veritatis cupiditate voluptatem. Consectetur, exercitationem magnam.
              </p>
            </div>
          </div>
          <div class="tab">
            <input id="tab-three" type="checkbox" name="tabs" />
            <label for="tab-three"> Могу ли я отменить бронирование?</label>
            <div class="tab-content">
              <p>Да, вы можете отменить забронированную квартиру в течение 3 дней.</p>
            </div>
          </div>
          <div class="tab">
            <input id="tab-four" type="checkbox" name="tabs" />
            <label for="tab-four"> Можно ли купить квартиру?</label>
            <div class="tab-content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est commodi itaque ratione
                voluptatem dolores iusto aperiam adipisci incidunt perspiciatis ullam! Repellat
                accusamus rerum excepturi minus delectus? Consequatur libero nemo alias./p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
